## Ignore data files (to avoid sharing PII or large files)

*.rds
*.xlsx
*.xls
Input

## Ignore R history
.Rhistory

## Outputs
output
*.prn
*.var
tppl.prj
*.log

activitysim/data
activitysim/data_s

!trip_weights.rds
!hh_weights.rds
!person_weights.rds
!day_weights.rds
activitysim/survey_data_processing/RPKG
!activitysim/survey_data_processing/obs_processing/output/tour_mode_choice/.
!activitysim/survey_data_processing/obs_processing/output/trip_mode_choice/.
!activitysim/survey_data_processing/obs_processing/output/tour_mode_choice_calibration_targets.csv
!activitysim/survey_data_processing/obs_processing/output/trip_mode_choice_calibration_targets.csv
!activitysim/survey_data_processing/obs_processing/output/calibration_target_tables.xlsx

!activitysim/survey_data_processing/Visualizer/summaries/ACS_2018_5yr_AutoOwn.csv
!activitysim/survey_data_processing/Visualizer/summaries/countyFlowsCensus.csv
!activitysim/survey_data_processing/Visualizer/summaries/hhSizeCensus.csv


!activitysim/survey_data_processing/Visualizer/templates/summaryFilesNames_ActivitySim_MetC.csv
!activitysim/survey_data_processing/Visualizer/templates/summaryFilesNames_census_MetC.csv
!activitysim/survey_data_processing/Visualizer/templates/summaryFilesNames_survey_MetC.csv
activitysim/survey_data_processing/Visualizer/SPA
activitysim/survey_data_processing/Visualizer/SPA_Inputs
activitysim/survey_data_processing/Visualizer/SPA_Outputs
"trips.csv" 
tours_test.csv 
"HH_SPA_INPUT.csv" 
"PER_SPA_INPUT.csv" 
"place_2.csv.csv" 
