## Ignore data files (to avoid sharing PII or large files)

*.rds
*.xlsx
*.xls

## Ignore R history
.Rhistory

## Outputs
output

!trip_weights.rds
!hh_weights.rds
!person_weights.rds
!day_weights.rds