## Ignore data files (to avoid sharing PII or large files)

*.rds
*.xlsx
*.xls
Input

## Ignore R history
.Rhistory

## Outputs
output
*.prn
*.var
tppl.prj
*.log

activitysim/data
activitysim/data_s

!trip_weights.rds
!hh_weights.rds
!person_weights.rds
!day_weights.rds
activitysim/survey_data_processing/RPKG
!survey_data_processing/obs_processing/output/tour_mode_choice/.
!survey_data_processing/obs_processing/output/trip_mode_choice/.
!survey_data_processing/obs_processing/output/tour_mode_choice_calibration_targets.csv
!survey_data_processing/obs_processing/output/trip_mode_choice_calibration_targets.csv
!survey_data_processing/obs_processing/output/calibration_target_tables.xlsx

!survey_data_processing/Visualizer/summaries/ACS_2018_5yr_AutoOwn.csv
!survey_data_processing/Visualizer/summaries/countyFlowsCensus.csv
!survey_data_processing/Visualizer/summaries/hhSizeCensus.csv


!survey_data_processing/Visualizer/templates/summaryFilesNames_ActivitySim_MetC.csv
!survey_data_processing/Visualizer/templates/summaryFilesNames_census_MetC.csv
!survey_data_processing/Visualizer/templates/summaryFilesNames_survey_MetC.csv

